* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    font-size: .8rem;
}

:root {
    --btn-color: #0061ff;
    --jumbotron-bg:#b3d0e7;
    --red-color:#d5001f;
    --black-color: #000000;
    --brown-color:#61092b;
    --orange-color: #ff1b1c;
    --lemon-color:#ffd72f;
    --azure-color: #0093ce;
    --blue-color:#0e2381;
    --gray-color: #f5f5f5;
    --green-color:#a2d39b;
}

/* tags selector */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
    box-shadow: 1px 1px 12px;
}
main {
    padding-top: 60px;
}
a {
    padding: .5rem .5rem;
    text-decoration: none;
    color: var(--black-color);
}
img {
    width: 100%;
}
ul {
    list-style: none;
}
h1 {
    font-size: 5rem;
}
a, p {
    line-height: 1.25rem;
}
/* class standard styles */

.section {
    max-width: 100%;
    width: 100%;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
.padding-tb{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.padding-tb-small{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padding-lr {
    padding-left: 1rem;
    padding-right: 1rem;
}
.padding-lr-small{
    padding-left: .5rem;
    padding-right: .5rem;
}
.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-content-center {
    align-items: center;
}
.align-self-center {
    align-self: center;
}
.col {
    min-height: 50px;
}
.btn {
    font-size: .9rem;
    min-width: 40px;
    text-align: center;
    cursor: pointer;
    padding:.5rem 1rem;
}
.btn-lg {
    padding: 1rem;
    font-size: 1rem;
}
.btn-blue {
    background-color: var(--btn-color);
    color: white;
}
.btn-light {
    background-color: white;
    color: var(--black-color);
}
/* header style */

.logo {
    width: 80%;
    vertical-align: bottom;
}

/*  main style */

.jumbotron {
    background-color: var(--jumbotron-bg);
}
.container-lg {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.col-sm {
    max-width: 30%;
    width: 100%;
}
.col-lg {
    max-width: 70%;
    width: 100%;
}
.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}
.position-relative {
    position: relative;
}
.relative-top {
    top: 10rem;
}
.relative-bottom {
    bottom: 9rem;
}
.fa-arrow-down {
    font-size: 4rem;
    bottom: 9rem;
    left: 0;
}
