* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    font-size: .8rem;
}

:root {
    --btn-color: #0061ff;
    --jumbotron-bg:#b3d0e7;
    --red-color:#d5001f;
    --black-color: #000000;
    --brown-color:#61092b;
    --orange-color: #ff1b1c;
    --lemon-color:#ffd72f;
    --azure-color: #0093ce;
    --blue-color:#0e2381;
    --gray-color: #f5f5f5;
    --green-color:#a2d39b;
}

/* tags selector */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
    box-shadow: 1px 1px 12px;
}
main {
    padding-top: 60px;
}
a {
    padding: .5rem .5rem;
    text-decoration: none;
    color: var(--black-color);
}
img {
    width: 100%;
}
ul {
    list-style: none;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}
h6{
    font-size: 1.1rem;
    line-height: 2.5rem;
}
a, p {
    line-height: 1.25rem;
}
/* class standard styles */

.section {
    max-width: 100%;
    width: 100%;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/* padding and margin */

.padding-tb{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.padding-tb3{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.padding-tb-small{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padding-lr2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.padding-lr {
    padding-left: 1rem;
    padding-right: 1rem;
}
.padding-lr-small{
    padding-left: .5rem;
    padding-right: .5rem;
}
.padding-top {
    padding-top: 8rem;
}
.padding-bottom-xs{
    padding-bottom: .75rem;
}
.margin-bottom{
    margin-bottom: 2rem;
}
.margin-tb3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* end padding and margin */

.flex {
    display: flex;
}
.wrapping {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-content-center {
    align-items: center;
}
.align-self-center {
    align-self: center;
}
.col {
    min-height: 50px;
}
.btn {
    font-size: .9rem;
    min-width: 40px;
    text-align: center;
    cursor: pointer;
    padding:.5rem 1rem;
}
.btn-lg {
    padding: 1rem;
    font-size: 1rem;
}
.btn-xl {
    padding: 1rem 2rem;
    font-size: 1rem;
}
.btn-blue {
    background-color: var(--btn-color);
    color: white;
}
.btn-light {
    background-color: white;
    color: var(--black-color);
    border: 1px solid var(--black-color);
}
/* header style */

.logo {
    width: 80%;
    vertical-align: bottom;
}

/*  main style */

.jumbotron {
    background-color: var(--jumbotron-bg);
}
.container-lg {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.col-sm {
    max-width: 30%;
    width: 100%;
}
.col-lg {
    max-width: 70%;
    width: 100%;
}
.gap-1 {
    gap: 1rem;
    --gap1:1rem;
}
.gap-2 {
    gap: 3.5rem;
    --gap2: 3.5rem;
}
.position-relative {
    position: relative;
}
.relative-top {
    top: 10rem;
}
.relative-bottom {
    bottom: 9rem;
}
.fa-arrow-down {
    font-size: 4rem;
    bottom: 9rem;
    left: 0;
}
.flex-grow1{
    flex-basis: calc((100% - (var(--gap2)*2))/3);
    flex-grow: 1;
}
.flex-grow0{
    flex-basis: 0;
    flex-grow: 1;
}
.border-card {
    border: 1px solid #a8a8a8;
}
.border-card-bottom {
    border-bottom: 1px solid #a8a8a8;
}
.text-center {
    text-align: center;
}

.price, .price-period {
    line-height: 2rem;
}
.price-row {
    padding-bottom: 2rem;
}
.price {
    font-weight: bold;
    font-size: 1.1rem;
}
.price-period {
    font-size: .9rem;
    color: gray;
}
.description {
    line-height: 2rem;
    min-height: 185px;
}
.button-card {
    padding: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
.link-business-section{
    text-decoration: underline;
    color: #0061ff;
}
.hr-small{
    width: 30%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.fa-check {
    color: #0061ff;
}
.square {
    width: 50%;
    height: calc(100vw / 6);
}
.square img {
    width: 100%;
    max-width: 50%;
}
.img-w-50 {
    width: 50%;
}
.ratio-square {
    aspect-ratio: 1/1;
}
.overflow {
    overflow: auto;
}